nav {
  background-color: red;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: inline;
  list-style: none;
}

.nav__item {
  display: inline;
  padding-right: 15px;
  text-decoration: none;

  a {
    text-decoration: none;
  }
}

.nav__item--active {
  font-weight: bold;
}
